# node_modules
node_modules/
/.pnp
.pnp.js
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Next.js build output
.next/
out/

# Production
build
dist

# Environment variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System Files
.DS_Store
*.pem
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Internal docs & architecture
docs/

